<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.MessageDao">
    <select id="selectByUserId" resultType="main.pojo.Message">
        select * 
        from restaurant_manage_system.message
        where user_id = #{param};
    </select>
</mapper>