<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.NutritionDao">
    <select id="selectByDishId" resultType="main.pojo.Nutrition">
        select * 
        from restaurant_manage_system.nutrition
        where dish_id = #{param};
    </select>
</mapper>