<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.OrderDao">
    <select id="selectByUserId" resultType="main.pojo.Order" parameterType="Integer">
        select * 
        from `order`
        where user_id = #{param}
    </select>
    <select id="selectByRestaurantId" resultType="main.pojo.Order" parameterType="Integer">
        select * 
        from `order`
        where restaurant_id = #{param}
    </select> 
    <select id="getLoyalCustomerIds" resultType="Integer">
        SELECT user_id
        FROM `order` 
        WHERE restaurant_id = #{restaurantId} 
        AND create_at >= #{startTime}
        GROUP BY user_id
        HAVING COUNT(user_id) >= #{threshold};
    </select>
</mapper>