<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.OrderDetailDao">
    <select id="selectByOrderId" resultType="main.pojo.OrderDetail">
        SELECT order_detail.quantity,order_detail.order_id,order_detail.dish_id,dish.dish_name 
        FROM order_detail JOIN dish ON dish.dish_id = order_detail.dish_id
        AND order_detail.order_id = #{param};
    </select>
    <select id="selectByDishId" resultType="main.pojo.OrderDetail">
        SELECT order_detail.quantity,order_detail.order_id,order_detail.dish_id,dish.dish_name 
        FROM order_detail JOIN dish ON dish.dish_id = order_detail.dish_id
        AND order_detail.dish_id = #{param};
    </select>
    <select id="getTotalSalesByDishId" resultType="Integer" parameterType="Integer">
        SELECT SUM(quantity)
        FROM order_detail,`order`
        WHERE dish_id = #{param}
        AND order_detail.order_id = `order`.order_id 
        AND order_status like '%已完成%';
    </select>
    <select id="getTopCustomerUserIdByDishId" resultType="Integer" parameterType="Integer">
            <!-- 将返回消费最多的userid，如果有多个，将一并返回 -->
            SELECT o.user_id
            FROM `order` AS o 
            JOIN order_detail AS od
            ON o.order_id = od.order_id
            WHERE od.dish_id = #{param}
            AND o.order_status LIKE '%已完成%'
            GROUP BY o.user_id
            HAVING SUM(od.quantity) = (
                SELECT MAX(customer_total_quantity)
                FROM (
                SELECT o.user_id, SUM(sub.quantity) AS customer_total_quantity
                FROM order_detail AS sub
                JOIN `order` AS o ON o.order_id = sub.order_id
                WHERE sub.dish_id = #{param}
                AND o.order_status LIKE '%已完成%'
                GROUP BY o.user_id
                ) AS max_query
            );
    </select>
    <select id="selectTotalSalesByDishIdAndOrdermethodBeforeParticularTime" resultType="Integer">
        SELECT SUM(od.quantity) 
        FROM order_detail AS od 
        JOIN `order` AS o 
        ON o.order_id = od.order_id 
        WHERE od.dish_id = #{DishId} 
        AND o.create_at >= #{TimeStamp}
        AND o.order_status LIKE '%已完成%'         
        AND o.order_method = #{OrderMethod};
    </select>
    <select id="getOrderDetailsByRestaurantIdAndUserId" resultType="main.pojo.CustomerOrderSales">
        SELECT od.dish_id,SUM(od.quantity) AS total_purchase
        FROM order_detail AS od 
        JOIN `order` AS o 
        ON o.order_id = od.order_id 
        WHERE o.restaurant_id = #{restaurantId} 
        AND o.create_at >= #{startTime} 
        AND o.user_id = #{userId}
        AND o.order_status LIKE '%已完成%' 
        GROUP BY od.dish_id;
    </select>
</mapper>