<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.OrderDetailDao">
    <select id="selectByOrderId" resultType="main.pojo.OrderDetail">
        select * 
        from order_detail
        where order_id = #{param};
    </select>
    <select id="selectByDishId" resultType="main.pojo.OrderDetail">
        select * 
        from order_detail
        where dish_id = #{param};
    </select>
</mapper>