<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.OrderDao">
    <select id="selectByUserId" resultType="main.pojo.Order" parameterType="Integer">
        select * 
        from `order`
        where user_id = #{param}
    </select>
    <select id="selectByRestaurantId" resultType="main.pojo.Order" parameterType="Integer">
        select * 
        from `order`
        where restaurant_id = #{param}
    </select> 
    <select id="getLoyalCustomerIds" resultType="Integer">
        SELECT user_id
        FROM `order` 
        WHERE restaurant_id = #{restaurantId} 
        AND create_at >= #{startTime}
        GROUP BY user_id
        HAVING COUNT(user_id) >= #{threshold};
    </select>
    <select id="getOrderFrequencyForRestaurantByPeriod" resultType="main.pojo.OrderFrequency">
        SELECT
            CASE 
                WHEN #{period} = '周' THEN DATE_FORMAT(order_time, '%Y-%u')
                WHEN #{period} = '月' THEN DATE_FORMAT(order_time, '%Y-%m')
                ELSE DATE_FORMAT(order_time, '%Y-%m-%d')<!-- 默认格式为年-月-日 -->
            END AS period,         
            count(order_id)
        FROM `order`
        WHERE restaurant_id = #{restaurantId}
        AND create_at >= #{startTime}
        GROUP BY period
        ORDER BY period;
    </select>

    <select id="getActivityInOneDayForRestaurant" resultType="main.pojo.ActivityOneDay">
        SELECT
            CASE 
                WHEN HOUR(create_at) BETWEEN 0 AND 5 THEN '夜间'
                WHEN HOUR(create_at) BETWEEN 6 AND 11 THEN '上午'
                WHEN HOUR(create_at) BETWEEN 12 AND 17 THEN '下午'
                WHEN HOUR(create_at) BETWEEN 18 AND 23 THEN '晚间'
            END AS period,         
            count(order_id)
        FROM `order`
        WHERE restaurant_id = #{restaurantId}
        AND create_at >= #{startTime}
        GROUP BY period
        ORDER BY period;

    </select>

    <select id="getTotalOrderNumByConditionAndRestaurantId" resultType="java.lang.Integer">
        SELECT COUNT(order_id) 
        FROM `order`
        WHERE user_id IN (SELECT sub.user_id FROM user AS sub WHERE ${condition})
          AND restaurant_id = #{restaurantId};
    </select>

    <select id="getDishSalesSummariesByConditionAndRestaurantId"  resultType="main.pojo.DishPurchaseSummary">
        SELECT od.dish_id, d.dish_name, SUM(od.quantity) AS totalPurchaseCount
        FROM order_detail AS od
        JOIN `order` AS o ON od.order_id = o.order_id
        JOIN dish AS d ON od.dish_id = d.dish_id
        WHERE o.user_id IN (SELECT sub.user_id FROM user AS sub WHERE ${condition})
          AND o.restaurant_id = #{restaurantId}
        GROUP BY od.dish_id, d.dish_name
    </select>
</mapper>