<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.RestaurantReviewDao">
    <select id="selectByRestaurantId" resultType="main.pojo.RestaurantReview" parameterType="Integer">
        select * 
        from restaurant_review
        where restaurant_id = #{param};
    </select>
    <select id="selectUserReviewHabitsByRestaurantIdGivenCondition" resultType="main.pojo.UserReviewHabit">
        SELECT COUNT(review_id) AS reviewNum, AVG(rating) AS averageScore
        FROM restaurant_review
        WHERE user_id IN (SELECT sub.user_id FROM user AS sub WHERE ${condition})
        AND restaurant_id = #{restaurantId};    
    </select>
</mapper>