<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.RestaurantDao">
    <select id="selectAll" resultType="main.pojo.Restaurant">
        select * 
        from restaurant;
    </select>
    <select id="selectByName" parameterType="String" resultType="main.pojo.Restaurant">
        select * 
        from restaurant
        where restaurant_name = #{param};
    </select>
    <select id="getRestaurantsByKeyword" parameterType="String" resultType="main.pojo.Restaurant">
        SELECT * 
        FROM restaurant
        WHERE restaurant_name LIKE CONCAT('%',#{param},'%');
    </select>
    <select id="getMonthlyRevenues" parameterType="Integer" resultType="main.pojo.MonthlyRevenue">
        SELECT MONTH(order_time) AS analysedMonth,
            SUM(total_price) AS revenue
        FROM `order`
        WHERE restaurant_id = #{restaurantId}
        AND order_time >= DATE_SUB(CURRENT_DATE,INTERVAL 1 YEAR)
        GROUP BY MONTH(order_time)
        ORDER BY MONTH(order_time);
    </select>    
</mapper>