<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.RestaurantDao">
    
    <select id="selectAll4M" resultType="main.dto.RestaurantDTO">
        SELECT r.restaurant_id,r.restaurant_name,CONCAT(c.canteen_name, r.location) AS location,r.account,r.password,r.canteen_id,r.brief_intro 
        FROM restaurant AS r
        JOIN canteen as c ON r.canteen_id = c.canteen_id 
    </select>

    <select id="selectAll4U" resultType="main.dto.BriefRestaurantDTO">
        SELECT r.restaurant_id,r.restaurant_name,CONCAT(c.canteen_name, r.location) AS location,r.brief_intro 
        FROM restaurant AS r
        JOIN canteen as c ON r.canteen_id = c.canteen_id ;
    </select>
    <select id="selectByRestaurantId" resultType= "main.dto.BriefRestaurantDTO">
        SELECT r.restaurant_id,r.restaurant_name,CONCAT(c.canteen_name, r.location) AS location,r.brief_intro 
        FROM restaurant AS r
        JOIN canteen as c ON r.canteen_id = c.canteen_id 
        WHERE restaurant_id = #{restaurantId};
    </select>

    <select id="selectByName" parameterType="String" resultType="main.pojo.Restaurant">
        select * 
        from restaurant
        where restaurant_name = #{param};
    </select>
    <select id="getRestaurantsByKeyword" parameterType="String" resultType="main.dto.BriefRestaurantDTO">
        SELECT r.restaurant_id,r.restaurant_name,CONCAT(c.canteen_name, r.location) AS location,r.brief_intro 
        FROM restaurant AS r
        JOIN canteen as c ON r.canteen_id = c.canteen_id 
        WHERE restaurant_name LIKE CONCAT('%',#{param},'%');

    </select>
    <select id="getMonthlyRevenues" parameterType="Integer" resultType="main.pojo.MonthlyRevenue">
        CALL GetMonthlyRevenues(#{restaurantId});
    </select>   
</mapper>