<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.SeatReservationDao">
    <select id="selectByUserId" resultType="main.pojo.SeatReservation">
        select * 
        from restaurant_manage_system.seat_reservation
        where user_id = #{param};
    </select>
    <select id="selectBySeatId" resultType="main.pojo.SeatReservation">
        select * 
        from restaurant_manage_system.seat_reservation
        where seat_id = #{param};
    </select>
</mapper>