<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.UserDao">
    <select id="listUser" resultType="main.pojo.User">
        select * 
        from restaurant_manage_system.user;
    </select>
    <select id="getUserById" parameterType="Integer">
        select * 
        from restaurant_manage_system.user
        where user_id=#{userId}
    </select>
    <insert id="createUser" parameterType="main.pojo.User">
        insert into restaurant_manage_system.user(password, user_name, gender, age, role, role_id)
        values (#{password}, #{userName}, #{gender}, #{age}, #{role}, #{roleId});
    </insert>
    <update id="updateUser" parameterType="main.pojo.User">
        update restaurant_manage_system.user
        set password=#{password}, user_name=#{userName}, gender=#{gender}, age=#{age}, role=#{role}, role_id=#{roleId}
        where user_id=#{userId};
    </update>
    <delete id="deleteUserById" parameterType="Integer">
        delete from restaurant_manage_system.user
        where user_id=#{userId};
    </delete>

</mapper>